<div class="photos">
   <h3>{{photosTitle}}</h3>
   <img src="{{image1}}" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIn_02qpIcuPvfPiwADMOtBMJnYNsb064nug&usqp=CAU"> <br>
  <img src="{{image2}}" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3PATZ5JUi97JU4JlLkJ3sIuhKoJVGsha-wg&usqp=CAU">  <br>
   <img src="{{image3}}" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi6qIBfKhVuhMvBCEKHWNM82cvHuXoOtMKQw&usqp=CAU"> <br>
  <img src="{{image4}}" alt="https://images.immediate.co.uk/production/volatile/sites/3/2017/09/Frozen.jpg?quality=90&resize=200,200"> <br>
</div>